html {
    height: 100%;

    background-color: black;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;


    height: 100%;
}

a {
    font-size: 28pt;
    text-decoration: none;
    color: white;

    font-family: Helvetica;

    opacity: .75;
}

a:hover {
    opacity: 1;
    font-size: 32pt;
}